.castList {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}

.castItem {
	width: 150px;
	margin: 10px;
	text-align: center;
}

.castImage {
	width: 100px;
	height: 150px;
	object-fit: cover;
	border-radius: 8px;
	margin-bottom: 10px;
}
