.container {
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.backButton {
	background-color: transparent;
	border: none;
	color: #007bff;
	font-size: 18px;
	cursor: pointer;
	margin-bottom: 20px;
}

.backButton:hover {
	text-decoration: underline;
}

.details {
	display: flex;
	flex-direction: row;
}

.poster {
	width: 200px;
	margin-right: 20px;
}

.info {
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 28px;
	margin-bottom: 10px;
}

p {
	font-size: 16px;
}

.navLinks {
	display: flex;
	margin-top: 20px;
}

.navLink {
	margin-right: 20px;
	text-decoration: none;
	color: #007bff;
}

.activeLink {
	font-weight: bold;
}

.additionalInfo {
	margin-top: 20px;
	font-size: 18px;
}
