.nav {
	background-color: #f8f9fa;
	padding: 15px;
	border-bottom: 1px solid #e9ecef;
	display: flex;
	justify-content: flex-start;
	gap: 20px;
}

.link {
	color: #007bff;
}

.activeLink {
	color: #ff6347;
}

.link:hover {
	text-decoration: underline;
}
